---
import Marquee from "../Marquee.astro";
---

<h3>Brought to you by</h3>

<Marquee>
  <a class="sponsor" href="https://flourishpoint.org/" target="_blank">
    <img src="img/sponsors/flourish_point.png" />
  </a>

  <a class="sponsor" href="https://bluezoo.us/" target="_blank">
    <img src="img/sponsors/blue_zoo.png" />
  </a>

  <a class="sponsor" href="https://www.flowingrivercircle.com/" target="_blank">
    <img src="img/sponsors/flowing_river_circle.png" />
  </a>

  <a
    class="sponsor"
    href="https://www.letsgetchecked.com/idaho/"
    target="_blank"
  >
    <img src="img/sponsors/idaho_hshs.png" />
  </a>

  <div class="sponsor">
    <img src="img/sponsors/haws_ventures.png" />
  </div>

  <div class="sponsor">
    <p>Jonas & Julie Linde</p>
  </div>

  <a
    class="sponsor"
    href="https://familycrisiscenter.wixsite.com/familycrisiscenter"
  >
    <img src="img/sponsors/chloe_aponte_fcc.png" />
  </a>

  <a class="sponsor" href="https://www.optum.com">
    <img src="img/sponsors/optum.png" />
  </a>

  <a class="sponsor" href="http://www.mikesmusicusa.com/" target="_blank">
    <img src="img/sponsors/mikes_music.png" />
  </a>
</Marquee>
