---
import Sponsors from "../dyn/Sponsors.astro";
import { Icon } from "astro-icon";
---

<footer class="footer">
  <Sponsors />

  <div style="text-align: center">
    <p>
      Rexburg Pride is hosted by <a
        class="rainbow"
        href="https://flourishpoint.org">Flourish Point</a
      >:
    </p>
    <div class="icon-pack">
      <a href="https://www.instagram.com/flourishrexburg/" target="_blank"
        ><Icon name="mdi:instagram" /></a
      >
      <a href="https://www.facebook.com/FlourishRexburg" target="_blank"
        ><Icon name="mdi:facebook" /></a
      >
      <a href="https://twitter.com/FlourishPoint" target="_blank"
        ><Icon name="mdi:twitter" /></a
      >
    </div>
  </div>
  <p>
    Developed by <a
      class="rainbow"
      target="_blank"
      href="https://github.com/Flourish-Point">Flourish Point</a
    > / <a class="t" target="_blank" href="https://github.com/Simponic"
      >Simponic</a
    >
  </p>
</footer>
