---
import Layout from "../components/layout/Layout.astro";
---

<Layout page="Home">
  <div class="jumbo">
    <img class="jumbo-back" src="img/assets/walk_0.jpg" />
    <div class="centered-caption">
      <div>
        <h1 style="text-align: center">
          What is <span class="rainbow">Pride</span>?
        </h1>
        <p>
          A Pride event is a celebration of diversity and a way for a town to
          communicate acceptance. By participating in Rexburg Pride, you can
          show our LGBTQ+ community that our hearts are open and everyone is
          welcome here.
        </p>
      </div>
    </div>
  </div>
</Layout>
